<IfModule mod_alias.c>
  Redirect permanent /tp http://www.inetdoc.net/travaux_pratiques
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{HTTP_HOST} ^89\.234\.156\.195$
  RewriteCond %{HTTP_HOST} ^2a03\:7220\:8083\:c300\:\:1$
  RewriteRule ^(.*)$ https://www.inetdoc.net/$1 [L,R=301]
</IfModule>
