<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
<head>
<!-- NB meta tags -->
<meta http-equiv="Content-Type" content="$BLOG_MIMETYPE; charset=$BLOG_CHARSET" />
$(<"$BLOG_DIR/templates/inetdoc.metadata")
<title>$BLOG_TITLE</title>
$NB_AtomAltLink
$NB_RSS2AltLink
$NB_RSSAltLink
</head>
<body>
<div class="container">
    <div id="links" class="mobile-hide">
        <div class="logo">
            <a href="${BASE_URL}$NB_INDEX">
                <img src="${BASE_URL}images/logo.png" alt="Logo" />
            </a>
            <span class="description">$BLOG_DESCRIPTION</span>
        </div><!-- /logo -->
        <div class="clear"></div>
        <div class="sidetitle">
            Syndication de contenu
        </div>
        <div class="syndicate">
            $NB_BlogFeeds
            $NB_CategoryFeeds
        </div>
        <!-- recent_entries.sh -->
        <div class="sidetitle">
            $template_rentries
        </div>
        <div class="side">
            $NB_RecentEntries
        </div>
        <!-- Categories -->
        <div class="sidetitle">
            $template_category
        </div>
        <div class="side">
            $NB_CategoryLinks
        </div>
        <!-- Links -->
        <div class="sidetitle">
            $template_links
        </div>
        <div class="side">
            $NB_MainLinks
        </div>
        <div class="sidetitle">
            $template_contact
        </div>
        <div class="side">
            $BLOG_CONTACT<br />
        </div>
        <!-- weblog_status.sh -->
        <div class="sidetitle">
            $template_status
        </div>
        <div class="side">
            $NB_BlogStatus
        </div>
    </div><!-- /links -->
    <div id="content">
        <a id="top"></a>
        <div class="banner_menu">
           <ul>
               <li><a id="active" href="${BASE_URL}$NB_INDEX">Accueil</a></li>
               <li><a href="${BASE_URL}articles/">Articles</a></li>
               <li><a href="${BASE_URL}guides/">Guides</a></li>
               <li><a href="${BASE_URL}presentations/">Présentations</a></li>
               <li><a href="${BASE_URL}travaux_pratiques/">Travaux Pratiques</a></li>
               <li><a href="${BASE_URL}dev/">Dev</a></li>
           </ul>
        </div><!-- /banner menu div -->
        <div class="blog">
            $NB_MetaBody
            <div class="menu">
                $NB_PageLinks
            </div>
        </div>
        <div class="menu">
            <a href="#top">$NB_TopPage</a>
        </div>
    </div><!-- /content -->
    <div class="clear"></div>
</div><!-- /container -->
</body>
</html>
