<!-- <a href="${BASE_URL}$NB_INDEX">$template_main</a><br />
     add more links below this line -->
<h4>ACTUALIT&#201;S</h4>
<a href="http://linuxtoday.com/">LinuxToday</a><br />
<a href="http://linuxfr.org/news">LinuxFR</a><br />
<h4>S&#201;CURIT&#201;</h4>
<a href="http://isc.sans.org/">SANS Internet Storm center</a>
<h4>DEBIAN</h4>
<a href="http://packages.qa.debian.org/">Package Tracking System</a><br />
<a href="http://www.debian.org/Bugs/">Bugs by ids</a><br />
<a href="http://www.debian.org/distrib/packages">Packages</a><br />
<h4>CISCO</h4>
<a href='https://www.netacad.com/'>netacad</a>
