<h2 class="date">
	$NB_EntryDate
</h2>
<div class="blogbody">
	<a id="$NB_EntryID"></a>
	<h3 class="title">$NB_EntryTitle</h3>
	$NB_EntryBody
</div>

<div class="posted">
	<br />$template_postedby $NB_EntryAuthor
$([ "$SHOW_PERMALINKS" = "1" ] && echo '| <a class="link" href="'${ARCHIVES_PATH}$NB_EntryPermalink'">'$template_permlink'</a>')
$([ ! -z "$NB_EntryCategories" ] && echo "| $template_catlinks $NB_EntryCategories")
<!-- <br /><a href="${BASE_URL}$BLOG_URL_ACTION$ARCHIVES_DIR/$permalink_file#comments">$template_cmtlink</a> -->
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'inetdoc';
  var disqus_identifier = '$NB_EntryID';
  var disqus_url = 'http://www.inetdoc.net/$ARCHIVES_DIR/$permalink_file';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
