<?xml version="1.0" encoding="utf-8"?>
<!doctype html>
<html>
  <head>
    <!-- NB meta tags -->
    <meta
      http-equiv="Content-Type"
      content="$BLOG_MIMETYPE; charset=$BLOG_CHARSET"
    />
    $(<"$BLOG_DIR/templates/inetdoc.metadata")
    <title>$NB_EntryTitle | $BLOG_TITLE</title>
    $NB_AtomAltLink $NB_RSS2AltLink $NB_RSSAltLink
  </head>
  <body>
    <div class="container">
      <div id="links" class="mobile-hide">
        <div class="logo">
          <a href="${BASE_URL}$NB_INDEX">
            <img src="${BASE_URL}images/logo.png" alt="Logo" />
          </a>
          <span class="description">$BLOG_DESCRIPTION</span>
        </div>
        <!-- /logo -->
        <div class="clear"></div>
      </div>
      <div id="content">
        <div class="blog">
          <a id="top"></a>
          <div class="banner_menu">
            <ul class="blocklist">
              <li><a href="${BASE_URL}$NB_INDEX">Accueil</a></li>
              <li><a href="${BASE_URL}articles/">Articles</a></li>
              <li><a href="${BASE_URL}guides/">Guides</a></li>
              <li><a href="${BASE_URL}presentations/">Présentations</a></li>
              <li>
                <a href="${BASE_URL}travaux_pratiques/">Travaux Pratiques</a>
              </li>
              <li><a href="${BASE_URL}dev/">Dev</a></li>
            </ul>
          </div>
          <!-- /banner menu div -->
          <div id="menu">
            <a href="${BASE_URL}$NB_INDEX">$template_main</a> &gt;
            <a href="${BASE_URL}$ARCHIVES_DIR/$NB_INDEX">$template_archives</a>
            &gt;
            <a href="${BASE_URL}$ARCHIVES_DIR/$year/$NB_INDEX">$year</a> &gt;
            <!-- comment out next line when month archives are disabled -->
            <a href="${BASE_URL}$ARCHIVES_DIR/$year/$month/$NB_INDEX">$month</a>
            &gt;
            <br />
            $([ ! -z "$prev_entry" ] && echo '<a
              href="'${ARCHIVES_PATH}$NB_PrevEntryPermalink'"
              >'$NB_PrevPage'</a
            >')
            <!-- uncomment next line when month or day archives are disabled -->
            $month/$day $entry_time $([ ! -z "$next_entry" ] && echo '<a
              href="'${ARCHIVES_PATH}$NB_NextEntryPermalink'"
              >'$NB_NextPage'</a
            >')
          </div>
          $NB_MetaBody
          <div class="menu">
            <a href="#top">$NB_TopPage</a>
          </div>
        </div>
      </div>
      <!-- /content -->
    </div>
    <!-- /container -->
  </body>
</html>
