<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
<head>
<!-- NB meta tags -->
<meta http-equiv="Content-Type" content="$BLOG_MIMETYPE; charset=$BLOG_CHARSET" />
$(<"$BLOG_DIR/templates/inetdoc.metadata")
<title>$NB_MetaTitle | $BLOG_TITLE</title>
$NB_AtomAltLink
$NB_RSS2AltLink
$NB_RSSAltLink
</head>
<body>
<div class="container">
    <div id="links" class="mobile-hide">
        <div class="logo">
            <a href="${BASE_URL}$NB_INDEX">
                <img src="${BASE_URL}images/logo.png" alt="Logo" />
            </a>
            <span class="description">$BLOG_DESCRIPTION</span>
        </div><!-- /logo -->
        <div class="clear"></div>
    </div><!-- /links -->
    <div id="content">
        <a id="top"></a>
        <div class="banner_menu">
           <ul>
               <li><a id="active" href="${BASE_URL}$NB_INDEX">Accueil</a></li>
               <li><a href="${BASE_URL}articles/">Articles</a></li>
               <li><a href="${BASE_URL}guides/">Guides</a></li>
               <li><a href="${BASE_URL}presentations/">Présentations</a></li>
               <li><a href="${BASE_URL}travaux_pratiques/">Travaux Pratiques</a></li>
               <li><a href="${BASE_URL}dev/">Dev</a></li>
           </ul>
        </div><!-- /banner menu div -->
        <div class="blog">
            <h2>$NB_MetaTitle</h2>
            <div id="menu">
                <a href="${BASE_URL}$NB_INDEX">$template_main</a> &gt;
                <a href="${BASE_URL}$ARCHIVES_DIR/$NB_INDEX">$template_archives</a> &gt;
                <br />
    $([ ! -z "$prev_year" ] && echo '<a href="'${ARCHIVES_PATH}$NB_PrevArchiveYearLink'">'$NB_PrevPage'</a>')
            $yearn
    $([ ! -z "$next_year" ] && echo '<a href="'${ARCHIVES_PATH}$NB_NextArchiveYearLink'">'$NB_NextPage'</a>')
            </div>
            $NB_MetaBody
            <div class="menu">
                <a href="#top">$NB_TopPage</a>
            </div>
        </div>
    </div><!-- /content -->
    <div class="clear"></div>
</div><!-- /container -->
</body>
</html>
