* {
margin:0;
padding:0;
}

body {
font:.96em/1.333 "DejaVu Sans", Verdana, Arial, Helvetica, sans-serif;
background:#333;
padding:1em;
}

h1 {
margin:.33em 0;
font-family:"DejaVu Sans", Verdana, Arial, Helvetica, sans-serif;
font-size:1.5em;
}

h2 {
margin:.33em 0;
color:#666;
font-family:"DejaVu Sans", Verdana, Arial, Helvetica, sans-serif;
font-size:1.25em;
font-weight:700;
}

h3 {
margin:.33em 0;
padding: .33em 0;
border-top:1px dotted #BBB;
color:#af0228;
font-size:1.2em;
}

h4,h5,h6 {
margin:.33em 0;
font-size:1.12em;
}

dt {
clear:right;
}

ul,ol {
margin:0 0 .33em 2em;
}

li {
padding-bottom:.33em;
}

li ol,li ul {
font-size:1em;
margin-bottom:0;
padding-top:.33em;
}

blockquote {
width:48em;
background-color:#EEE;
margin:0 0 .33em auto;
border-left:5px solid #BBB;
padding:.33em;
}

pre,.literallayout,.screen {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
overflow:auto;
width=80em;
background-color:#EEE;
margin-bottom:.33em;
border-top:2px solid #999;
border-left:2px solid #999;
border-right:1px solid #CCC;
border-bottom:1px solid #CCC;
padding:.33em;
}

img {
border:none;
max-width: 100%;
}

p {
line-height:1.5em;
margin-bottom:.33em;
padding-bottom:.33em;
font-family:"DejaVu Serif", "Trebuchet MS", Tahoma, "Times New Roman", serif;
text-align: justify;
}

.clear {
clear:both;
}

#banner {
min-width:62em;
max-width:92em;
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
background-color:#bf1238;
font-weight:400;
text-align:left;
border-top:2em solid #af0228;
border-bottom:1em solid #af0228;
margin:1em auto 0;
padding:1.2em 1em;
}

#banner h1 {
margin-bottom:-.33em;
}

#banner h1 a {
font-size:1.8em;
}

#banner a,#banner a:link,#banner a:visited,#banner a:active,#banner a:hover {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#fff;
text-decoration:none;
}

.banner_menu {
min-width:62em;
max-width:92em;
background-color:#111;
min-height:1em;
height:auto;
margin:0 auto 0;
padding:0 1em;
}

.banner_menu ul {
list-style:none;
min-height:1em;
height:auto;
margin:0;
padding:1em 0;
}

.banner_menu ul li {
float:left;
display:block;
margin:0;
padding:0;
}

.banner_menu ul li a {
color:#ddd;
display:block;
border-right:1px solid #666;
font-size:.8em;
font-weight:700;
text-transform:uppercase;
letter-spacing:.12em;
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
text-decoration:none;
margin:0;
padding:0 1.5em;
}

.banner_menu ul li a:hover {
color:#fff;
text-decoration:underline;
}

.banner_menu #active {
color:#fff;
background-color:#bf1238;
}

.description {
font-family:"DejaVu Serif", "Trebuchet MS", Tahoma, "Times New Roman", serif;
color:#fff;
font-size:1.12em;
font-weight:700;
font-style:italic;
text-transform:lowercase;
margin:0 0 0 3em;
}

#content {
position:relative;
margin-left:21em;
background-color:#fff;
border:1px solid #ccc;
border-right-color:silver;
border-bottom-color:silver;
padding:1em;
box-shadow:7px 7px 8px #818181;
-webkit-box-shadow:7px 7px 8px #818181;
-moz-box-shadow:7px 7px 8px #818181;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
-moz-border-radius:8px;
border-radius:8px;
}

#container {
background:none;
min-width:62em;
max-width:92em;
background-color:#ddd;
margin:0 auto 0;
padding:1em;
}

#links {
float:left;
min-width:16em;
max-width:20em;
background-color:#fff;
border:1px solid #ccc;
border-right-color:silver;
border-bottom-color:silver;
padding:1em 0;
box-shadow: 7px 7px 8px #818181;
-webkit-box-shadow: 7px 7px 8px #818181;
-moz-box-shadow: 7px 7px 8px #818181;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
-moz-border-radius:8px;
border-radius:8px;
}

#footer {
min-width:62em;
max-width:92em;
color:#ddd;
background-color:#111;
border-top:1px dotted #999;
border-bottom:1px dotted #999;
margin:0 auto 0;
padding:1em;
}

#delicioustags {
min-width:62em;
max-width:92em;
color:#ddd;
border-top:1em solid #666;
border-bottom:1em solid #666;
background-color:#111;
margin:0 auto 0;
padding:1em;
}

.blog {
padding:1em;
}

.archives {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#333;
font-weight:400;
background-color:#fff;
border:1px solid #ccc;
border-right-color:silver;
border-bottom-color:silver;
padding:1em 2em;
}

.blogbody {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#333;
font-weight:400;
line-height:1.2em;
background-color:#fff;
border:1px solid #ccc;
border-right-color:silver;
border-bottom-color:silver;
padding:1em 2em;
}

.blogbody a,.blogbody a:link,.blogbody a:visited,.blogbody a:active,.blogbody a:hover {
font-weight:400;
text-decoration:underline;
}

.title {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#333;
margin-bottom:1em;
}

h5.subtitle {
margin-top:-.66em;
}

p.title {
margin:0;
}

#menu,.menu {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
margin-top:2em;
margin-bottom:2em;
text-align:center;
}

.date {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#666;
border-bottom:1px solid #999;
margin-bottom:.8em;
font-size:.8em;
font-weight:700;
text-align:left;
}

.posted {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
font-size:.66em;
color:#000;
margin-bottom:1.5em;
}

.articleshead {
color:#333;
text-transform:lowercase;
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
font-weight:700;
}

.calendar {
color:#333;
text-align:center;
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
font-size:.8em;
font-weight:400;
padding:.33em;
}

.calendar table {
border-left:1em solid #FFF;
border-right:1em solid #FFF;
}

.calendar a,.calendar a:link,.calendar a:active,.calendar a:hover {
font-weight:700;
text-decoration:underline;
}

.calendarhead {
color:#333;
border-left:1em solid #FFF;
border-right:1em solid #FFF;
text-align:center;
font-weight:700;
letter-spacing:.2em;
text-transform:uppercase;
border-bottom:1px solid #999;
padding:2px 1em;
}

.calendarhead a,.calendarhead a:link,.calendarhead a:visited {
text-decoration:none;
}

.calendarhead a:hover {
text-decoration:underline;
}

.calendarday {
font-weight:700;
text-align:center;
}

.side {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#333;
font-size:.66em;
font-weight:400;
line-height:150%;
padding:2px 1em;
}

.sidetitle {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#333;
font-size:.8em;
font-weight:400;
margin-top:.8em;
letter-spacing:.1em;
border-bottom:1px dotted #999;
border-left:1em solid #FFF;
border-right:1em solid #FFF;
text-align:center;
text-transform:lowercase;
padding:2px;
}

.syndicate {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
font-size:.66em;
color:#666;
background-color:#ddd;
margin-top:.8em;
border-left:1em solid #fff;
border-right:1em solid #fff;
line-height:150%;
text-align:center;
padding:2px 15px;
}

.feed-small {
height:14px;
padding-left:15px;
background:url(/images/feed-icon-14x14.png) no-repeat 0 50%;
}

.powered {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
font-size:.66em;
line-height:150%;
background-color:#ddd;
color:#666;
border-left:1em solid #fff;
border-right:1em solid #fff;
text-align:center;
padding:2px 1em;
}

.comments-body {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#666;
font-size:.8em;
font-weight:400;
line-height:120%;
padding-bottom:.8em;
padding-top:.8em;
border-bottom:1px dotted #999;
}

.trackback-url {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#666;
font-size:.8em;
font-weight:400;
line-height:150%;
border:1px dotted #999;
padding:5px;
}

.trackback-body {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#666;
font-size:.8em;
font-weight:400;
line-height:120%;
padding-bottom:10px;
padding-top:10px;
border-bottom:1px dotted #999;
}

.comments-head {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
font-size:.8em;
color:#666;
border-bottom:1px solid #999;
margin-top:20px;
font-weight:700;
}

#banner-commentspop {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
color:#FFF;
font-size:large;
font-weight:700;
border-left:1px solid #FFF;
border-right:1px solid #FFF;
border-top:1px solid #FFF;
padding:5px 15px;
}

.intro {
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
border-bottom:1px solid #000;
background-color:#fff;
color:#333;
font-size:.8em;
font-weight:400;
line-height:140%;
margin-bottom:45px;
padding:10px 10px 0;
}

.intro a,.intro a:link,.intro a:visited,.intro a:active,.intro a:hover {
font-weight:400;
text-decoration:underline;
color:#333;
}

.fortune {
color:#555;
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
font-weight:400;
font-style:italic;
font-size:.66em;
padding:2px 15px;
}

a,a:link,a:visited {
color:#af0228;
text-decoration:none;
}

a:active,a:hover {
color:#999;
text-decoration:underline;
}

.comments-post,.trackback-post {
color:#666;
font-family:"DejaVu Sans", Verdana, arial, sans-serif;
font-size:.66em;
font-weight:400;
}

.xml-small {
padding-left:24px;
background:url(/images/xml.png) no-repeat left center;
}

.pdf-small {
padding-left:24px;
background:url(/images/pdf.png) no-repeat left center;
}

.git-small {
padding-left:24px;
background:url(/images/github.png) no-repeat left center;
}

.odp-small {
padding-left:24px;
background:url(/images/odp.png) no-repeat left center;
}

p span.inlinemediaobject {
float:right;
padding:.33em 0 .66em .66em;
}

span.sect2 {
margin-left:1.5em;
}

code, .literal, .literallayout, .option, .pre, .programlisting, .programlisting, .prompt, .screen, .systemitem {
font-family:"DejaVu Sans Mono", "Courier New", monospace;
font-size:.96em;
}

.simplesect h2.title {
text-align: right;
clear:both;
border-bottom:1px dotted #999;
}

.itemizedlist {
margin-bottom:-.15em;
}

.navheader th {
padding-bottom:.66em;
}

span.term {
font-weight:700;
padding-bottom:.66em;
}

.term a.link {
font-weight:700;
}

em.citetitle {
padding:1em 0;
font-style:normal;
font-weight:700;
}

span.application, span.guimenuitem {
font-style:italic;
font-weight:700;
}

span.emphasis em {
text-decoration:underline
}

#presentation a img {
margin:1px;
padding:0;
border:1px solid #333;
}

.table-contents table {
border-width:0;
border-collapse:collapse;
}

.table-contents table th {
color:#eee;
background-color:#333;
padding:.33em;
margin:0 .66em;
}

.table-contents table td {
padding:0 .33em;
margin:0 .66em;
}

.table-contents table tr {
border-top:2px solid #ccc;
border-bottom:2px solid #ccc;
}

.qandaset table {
border-collapse:collapse;
width:inherit;
}

.qandaset table tr.toc {
width:inherit;
}

.qandaset tr.question {
border-bottom:1px dotted #333;
}

.qandaset tr.answer {
border-bottom:1px dotted #333;
}

.qandaset tr.question td {
font-family:"DejaVu Sans", Verdana, Arial, Helvetica, sans-serif;
padding:.66em;
margin:0;
}

.qandaset tr.question td p {
font-family:"DejaVu Sans", Verdana, Arial, Helvetica, sans-serif;
}

.qandaset tr.question td p span {
font-weight:700;
}

.qandaset tr.answer td {
padding:.66em;
margin:0;
}

.qandaset tr.question td, .qandaset tr.answer td {
vertical-align:top;
}

.qandaset strong {
text-align:right;
}

.informaltable img {
padding:0 .66em;
}
