html {
  font-size: 16px;
}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.1rem;
  background-image: linear-gradient(#a01, #d04);
  background-repeat: no-repeat;
  background-size: 100% 64px;
  background-color: #fff;
}

h1 {
  margin: 0.33rem 0;
  font-size: 150%;
}
h2 {
  margin: 0.33rem 0;
  color: #333;
  font-size: 120%;
}
h3 {
  margin: 0.33rem 0;
  padding: 0.33rem 0;
  color: #c03;
  font-size: 110%;
}
h4,
h5,
h6 {
  margin: 0.33rem 0;
}

h5.subtitle {
  margin-top: -0.66rem;
}

p {
  margin: 0 0 0.33rem 0;
  padding: 0 0 0.66rem 0;
  text-align: justify;
}

table {
  border-collapse: collapse;
  border: none;
}
td,
dd {
  margin: 0;
  padding: 0;
}

.banner_menu {
  font-size: 1.2rem;
  min-height: 1.5rem;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.banner_menu ul {
  display: block;
  list-style: none;
  margin: 0;
  overflow: hidden;
}
.banner_menu ul li {
  float: left;
  display: inline;
}
.banner_menu ul li a {
  color: #111;
  display: block;
  letter-spacing: 0.15rem;
  display: block;
  text-decoration: none;
  margin: 2px;
  padding: 3px 0.33rem;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.banner_menu ul li a:hover {
  background-color: #666;
  text-decoration: none;
}
.banner_menu #active {
  background-image: linear-gradient(#111, #222);
  background-color: #111;
  color: #fff;
}

.logo {
  background-color: #fff;
  margin-top: 8px;
  padding: 0.33rem;
  border-top: 8px solid #111;
  border-bottom: 2px solid #999;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.logo a,
.logo a:link,
.logo a:visited,
.logo a:active,
.logo a:hover {
  color: #111;
  text-decoration: none;
}
.logo h1 {
  margin: -0.33rem 0;
  padding: 2px;
  font-size: 200%;
  overflow: hidden;
}
.logo h1 a {
  font-family: "Source Code Pro";
}
.description {
  font-family: "Source Sans Pro", "Noto Sans", Arial, sans-serif;
  color: #111;
}

#container {
  width: 80rem;
  width: 80vw;
  margin: 0 auto 0;
  padding: 0.33rem 0.66rem;
}

#links {
  width: 17rem;
  width: 17vw;
  float: left;
  margin-right: 4px;
  margin-left: 0.33rem;
}

#content {
  position: relative;
  margin-left: 18rem;
  margin-left: 18vw;
  margin-top: 8px;
  padding: 0.66rem;
}

#footer {
  width: 80rem;
  width: 80vw;
  color: #ddd;
  background-color: #fff;
  border-top: 4px solid #111;
  border-bottom: 2px solid #999;
  margin: 0 auto 0;
  padding: 0.66rem;
}

.blog {
  padding: 0.66rem;
}

.red {
  color: #c00;
}
.green {
  color: #0c0;
}

.archives {
  color: #333;
  font-weight: 400;
  border: 1px solid #ccc;
  border-right-color: silver;
  border-bottom-color: silver;
  padding: 0.66rem 1rem;
}

.blogbody {
  color: #333;
  font-weight: 400;
  padding: 1rem;
}
.blogbody a,
.blogbody a:link,
.blogbody a:visited,
.blogbody a:active,
.blogbody a:hover {
  font-weight: normal;
  text-decoration: underline;
}

.title {
  color: #333;
  margin-bottom: 1rem;
}

p.title {
  margin: 0;
}

#menu,
.menu {
  margin: 0 2rem;
  text-align: center;
}

.date {
  color: #666;
  border-bottom: 2px solid #999;
  margin-bottom: 0.8rem;
}

.articleshead {
  color: #333;
  text-transform: lowercase;
  font-weight: bold;
}

.calendar {
  color: #333;
  text-align: center;
}
.calendar table {
  border: none;
}
.calendar a,
.calendar a:link,
.calendar a:active,
.calendar a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.calendarhead {
  color: #333;
  border: 0 solid black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid #999;
  padding: 2px 1rem;
}
.calendarhead a,
.calendarhead a:link,
.calendarhead a:visited {
  text-decoration: none;
}
.calendarhead a:hover {
  text-decoration: underline;
}
.calendarday {
  font-weight: bold;
  text-align: center;
}

.side {
  color: #333;
}
.sidetitle {
  color: #333;
  font-weight: normal;
  margin-top: 0.8rem;
  letter-spacing: 0.12rem;
  border-bottom: 2px solid #999;
  text-align: center;
  text-transform: lowercase;
  padding: 2px;
}

.feed-small {
  height: 14px;
  padding-left: 15px;
  background: url(/images/feed-icon-14x14.png) no-repeat 0 50%;
}

.comments-head {
  color: #666;
  border-bottom: 2px solid #999;
  margin-top: 21px;
  font-weight: bold;
}
.comments-body {
  color: #666;
  font-weight: normal;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  border-bottom: 2px solid #999;
}
.comments-post,
.trackback-post {
  color: #666;
}
.trackback-url {
  color: #666;
  font-weight: normal;
  border: 1px solid #999;
  padding: 5px;
}
.trackback-body {
  color: #666;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #999;
}

#banner-commentspop {
  color: #fff;
}

.intro {
  border-bottom: 4px solid #111;
  background-color: #fff;
  color: #333;
}
.intro a,
.intro a:link,
.intro a:visited,
.intro a:active,
.intro a:hover {
  font-weight: normal;
  text-decoration: underline;
  color: #333;
}

a,
a:link,
a:visited {
  color: #003399;
  text-decoration: none;
}
a:active,
a:hover {
  color: #999;
  text-decoration: underline;
}

dt {
  clear: right;
}

pre,
.literallayout,
.screen {
  max-width: 52rem;
  max-width: 60vw;
  overflow: auto;
  background-color: #f3f3f3;
  margin: 1rem 0.33rem;
  padding: 0.66rem;
  box-shadow: 0px 0px 6px 3px #d3d3d3;
}
pre,
.literal,
.literallayout,
.option,
.package,
.pre,
.programlisting,
.prompt,
.screen,
.systemitem {
  font-family: "Source Code Pro", inconsolata, monospace;
}

.xml-small {
  padding-left: 24px;
  background: url(/images/xml.png) no-repeat left center;
}
.pdf-small {
  padding-left: 24px;
  background: url(/images/pdf.png) no-repeat left center;
}
.git-small {
  padding-left: 24px;
  background: url(/images/github.png) no-repeat left center;
}
.odp-small {
  padding-left: 24px;
  background: url(/images/odp.png) no-repeat left center;
}

span.sect2 {
  margin-left: 1.5rem;
}
span.term {
  font-weight: bold;
  padding-bottom: 0.66rem;
}
span.application,
span.guimenuitem {
  font-style: italic;
  font-weight: bold;
}
span.emphasis em {
  text-decoration: underline;
}
span.italic {
  font-style: italic;
}
span.darkred {
  color: #900;
}
.inlinemediaobject {
  float: right;
}

blockquote {
  background-color: #eee;
  margin: 0 0 0.33rem auto;
  border-left: 5px solid #bbb;
  padding: 0.33rem;
}

.simplesect h2.title {
  letter-spacing: 0.12rem;
  text-align: left;
  padding-left: 1rem;
  clear: both;
  border-bottom: 2px solid #999;
  border-left: 5px solid #999;
}

.term a.link {
  font-weight: bold;
}

.clear {
  clear: both;
}

em.citetitle {
  padding: 1rem 0;
  font-style: normal;
  font-weight: bold;
}

img {
  border: none;
  padding: 0 0.33rem;
}
#presentation a img {
  margin: 1px;
  padding: 0;
  border: 1px solid #333;
}
div.calloutlist img {
  padding: 0 1rem;
}

.table-contents table th,
.informaltable th {
  color: #eee;
  background-color: #333;
  padding: 0.33rem;
  margin: 0 0.66rem;
}
.table-contents table td,
.informaltable td {
  padding: 0 0.33rem;
  margin: 0 0.66rem;
}
.table-contents table tr {
  border-top: 2px solid #111;
  border-bottom: 2px solid #999;
}

.question,
.answer {
  display: block;
}
.question > p,
.answer > p,
.answer > pre {
  display: inline-block;
}

div.note .screen,
div.note p,
div.warning .screen,
div.warning p {
  max-width: 48rem;
}

.glossterm {
  font-family: "Source Code Pro", inconsolata, monospace;
  font-style: normal;
}
dt.glossterm {
  font-weight: bold;
}
dd.glossdef {
  padding-left: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .mobile-hide {
    display: none;
  }

  .banner_menu {
    width: 100%;
    min-width: 80%;
    background-color: transparent;
    min-height: auto;
  }
  .banner_menu ul {
    width: 100%;
    background-color: transparent;
    min-height: auto;
    margin: 0;
    padding: 0;
  }
  .banner_menu ul li {
    background-color: #fff;
    padding: 0 4px;
  }
  .banner_menu ul li a {
    background-color: #fff;
    letter-spacing: normal;
    padding: 0;
  }

  #container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  #links {
    width: 1rem;
  }
  #content {
    margin: 8px 0;
    padding: 0;
  }
  #footer {
    width: 100%;
  }

  pre,
  .literallayout,
  .screen {
    overflow: auto;
    max-width: 280px;
  }

  div.note .screen,
  div.note p,
  div.warning .screen,
  div.warning p {
    max-width: 260px;
  }

  img {
    max-width: 200px;
    height: auto;
    width: auto\9; /* ie8 */
  }

  .table-contents {
    overflow: auto;
  }

  .informaltable td {
    display: inline-flex;
    flex-direction: column;
  }
}
